<h1>Productos</h1>

{{#if productsLength}}
    <div>
        {{products}}
    </div>
    {{!-- {{#each products}}
        <div>
            <p>{{this._id.toString}} - {{this.title}} - {{this.description}} - {{this.price}} - {{this.stock}} - {{this.category}} - {{this.status}} - {{this.code}}</p>
        </div>
    {{/each}} --}}

    {{!--! NO PUEDO ENTRAR A LOS ATRIBUTOS DE CADA OBJETO POR HTTP! --}}
    
{{else}}
    <h3>No existe ningun producto</h3>
{{/if}}