<div>
    <h2>Productos</h2>
</div>

<div class="product-container">

{{#if productsLength}}
    {{!-- <div>
        {{products}}
    </div> --}}
    {{#each products.docs}}
        <div>
            <p>{{this._id.toString}} - {{this.title}} - {{this.description}} - {{this.price}} - {{this.stock}} - {{this.category}} - {{this.status}} - {{this.code}}</p>
        </div>
    {{/each}}

    {{!-- ! NO PUEDO ENTRAR A LOS ATRIBUTOS DE CADA OBJETO! --}}
    
{{else}}
    <h3>No existe ningun producto</h3>
{{/if}}
</div>